<h1>Login</h1>

<%= form_for @user, url: {controller: 'sessions', action: 'create'} do |f| %>

  <%= f.text_field :email, placeholder: 'Email Address' %><br>
  <%= f.password_field :password, placeholder: 'Password' %><br>
  <%= f.submit "Login" %>

<% end %>
