<% if logged_in? %>
  <%= render partial: 'link_form' %>
<% end %>

<div id="links-list"></div>

<h2>Hot Reads!</h2>
<ol id="hot-reads">
<% @hot_links.each do |read| %>
  <li class='hot-read'>
    <a href="<%= read.url %>"><%= read.url %></a>
  </li>
<% end %>
</ol>
